.books {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 20 px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.span {
  margin: auto;
  font-size: 17px;
}

.card {
  color: rgb(112, 24, 58);
  display: inline-block;
  flex-direction: column;
  height: 100px;
  display: inline-block;
  width: 30%;
  background-clip: border-box;
}

.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url(https://sun9-49.userapi.com/c855528/v855528346/1bd640/s5unmkscMOM.jpg);
  padding: 16px 0;
  font-size: larger;
  border: none;
}

.loadMore {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(84, 129, 39);
  border: none;
}

.profile {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-areas:
    "i p"
    "b b";
  grid-template-columns: 10fr 10fr;
  grid-gap: 10px;
}

.profileInfo {
  grid-area: p;
}
.imageProfile {
  grid-area: i;
}
.buttonProfile {
  grid-area: b;
}
