.books{
   box-sizing: border-box ;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
.container{
   width: 100%;
   max-width: 1000px;
   margin: 20 px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content:space-between;
   margin-left: auto;
   margin-right: auto;

   /* padding-left: var(--bs-gutter-x,.75rem);
   padding-right: var(--bs-gutter-x,.75rem); */
   
   
}
.span{
   margin: auto;
   font-size: 17px;

} 

/* .row {
   flex: 0 0 auto;
   width: 33.3333333333%;
}  */
.card {
   /* width: 100%; */
   /* max-width: 318px; */
   /* padding: 20px; */
   /* background-color: rgb(5, 28, 70); */
   color:rgb(112, 24, 58);
   /* margin: 10px 0; */
   display:inline-block;
   flex-direction: column;
   height: 100px;
	display: inline-block;
	width: 30%;
   background-clip: border-box;
   /* position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: rgb(58, 89, 155);
   background-clip: border-box;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: .25rem; */
}

.header{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   background: darkcyan;
   padding: 16px 0;
   font-size: larger;
   border: none;

}
.loadMore{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   background: darkcyan;
   border: none;
}
.booksImage{
   
}